/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* -----------------HEADER RULE----------------- */

/* -----------------MAIN RULE------------------- */

/* -----------------FOOTER RULE----------------- */


/* -----------------MEDIA QUERY----------------- */
/* IN MOBILE FIRST */

@media screen and (max-width: 576px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 992px) {

}

/* IN DEKSTOP FIRST */
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}

/* -----------------DEBUG----------------- */
.debug .container {
    background-color: beige;
    border: 1px dashed red;
}