/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* -----------------HEADER RULE----------------- */


/* -----------------MAIN RULE------------------- */


/* -----------------FOOTER RULE----------------- */



/* -----------------MEDIA QUERY----------------- */
/* IN MOBILE FIRST */

@media screen and (max-width: 576px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 992px) {

}

/* IN DEKSTOP FIRST */
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 576px) {

}

/* -----------------DEBUG----------------- */
.debug .container {
    background-color: beige;
    border: 1px dashed red;
}